<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>The Sniper</title>
</head>

<body>
  <div id="app">
    <!-- 説明 2.1 -->
    <p>{{ message }}</p> <!-- 説明 2.2 -->

    <p>{{ message2 }}</p>
    <button v-on:click="changeMsg">Change</button>
    <ul>
      <li v-for="data in list">{{ data.title }}</li> <!-- 説明 2.19 -->
    </ul>
    <button v-on:click="listSnippet">listSnippet</button>
    <div>
      <input v-model="title" placeholder="title"> <!-- 説明 2.23 -->
      <input v-model="language" placeholder="language">
      <input v-model="contents" placeholder="contents">
    </div>
    <button v-on:click="postSnippet">postSnippet</button>
  </div>
  <script>
    new Vue({ // 説明 2.3
      el: "#app", // 説明 2.4
      data() { // 説明 2.5
        return {
          message: "Hello Vue!",
          message2: 'Hoge',
          list: [{ title: 'title1' }, { title: 'title2' }],
          title: 'new title',
          language: 'Ruby',
          contents: 'contents'
        }
      },
      mounted() {  // 説明 2.7
        this.setMsg();  // 説明 2.8
      },
      methods: { // 説明 2.9
        setMsg: function () { // 説明 2.10
          this.message = 'Set Message'; // 説明 2.11
        },
        changeMsg: function () { // 説明 2.13
          this.message = 'Changed Message'
          axios.get('/snipers.json') // 説明 2.16
            .then(response => ( // 説明 2.17
              this.message2 = response.data[0]['title'] // 説明 2.18
            )
            );
        },
        listSnippet: function () {
          axios.get('/snipers.json')
            .then(response => (
              this.list = response.data // 説明 2.21
            )
            );
        },
        postSnippet: function () {
          axios.post('/snipers.json', { title: 'title', language: 'Ruby', contents: 'contents' }) // 説明 2.21
            .then(response => (
              this.listSnippet()  // 説明 2.22
            )
            );
        }
      }

    })
  </script>
</body>

</html>
